<app-navbar
  [type]="'DETAIL-ITEM'"
  [giftName]="gift.name!"
  [giftCategory]="gift.category!"
  [title]="gift.giftlist.name!"
></app-navbar>
<div class="d-flex justify-content-between align-items-center creator-box">
  <div class="avatar">
    <img
      [src]="
        '../../../assets/images/avatars/Avatar_' +
        (gift.created_by.icon_profile! + 1) +
        '.png'
      "
    />
    <div>
      <p>{{ "GIFTS.CREATED_BY" | translate }} {{ gift.created_by.username }}</p>
      <p class="secondary-text">{{ getTime(gift.created_at!) }}</p>
    </div>
  </div>
  <div>
    <button
      class="button-action-primary"
      *ngIf="canModify"
      (click)="editGift()"
    >
      <img src="../../../assets/images/settings.svg" />
    </button>
  </div>
</div>
<div class="d-flex flex-column align-items-center info-box">
  <div class="gift-card">
    <div class="card-text">
      <p class="title">{{ "GIFTS.DESCRIPTION" | translate }}</p>
      <p>{{ gift.description }}</p>
    </div>
    <img src="../../../assets/images/flag.png" />
  </div>
  <div class="gift-card">
    <div class="card-text">
      <p class="title">{{ "GIFTS.PRICE" | translate }}</p>
      <p>{{ gift.price }}</p>
    </div>
    <img src="../../../assets/images/credit-card.png" />
  </div>
  <div class="gift-card">
    <div class="card-text">
      <p class="title">{{ "GIFTS.WHERE" | translate }}</p>
      <p>{{ gift.where }}</p>
    </div>
    <img src="../../../assets/images/cart.png" />
  </div>
  <div class="gift-card" *ngIf="gift.status === 'GROUP' && canSeeWhat">
    <div class="card-text">
      <p class="title">{{ "GIFTS.GROUP" | translate }}</p>
      <app-members
        *ngIf="canSeeWho"
        [members]="gift.buyers"
        [classIndex]="0"
        [border]="false"
      ></app-members>
    </div>
    <img src="../../../assets/images/pig.png" />
  </div>
  <div
    class="gift-card"
    *ngIf="gift.status === 'BOUGHT' && gift.buyers.length === 1 && canSeeWhat"
  >
    <div class="boughtby-box">
      <p>{{ "GIFTS.BOUGHT_BY" | translate }} {{ gift.buyers[0].username! }}</p>
      <img
        [src]="
          '../../../assets/images/avatars/Avatar_' +
          (gift.buyers[0].icon_profile! + 1) +
          '.png'
        "
      />
    </div>
  </div>
</div>
