<div class="gift-card" (click)="openGift()">
  <div>
    <img
      [src]="'../../../../assets/images/category/' + gift.category + '.png'"
    />
  </div>
  <div class="center">
    <p class="title">{{ gift.name }}</p>
    <div class="d-flex align-items-center">
      <p class="subtitle ml-1">
        {{ getTime(gift.created_at!) }}
      </p>
      <div *ngIf="gift.status === 'TOBUY' && canSeeWhat" class="status tobuy">
        {{ "GIFT.STATUS.TOBUY" | translate }}
      </div>
      <div *ngIf="gift.status === 'GROUP' && canSeeWhat" class="status group">
        {{ "GIFT.STATUS.GROUP" | translate }}
        <ng-container *ngIf="canSeeWho">
          <img
          *ngFor="let b of gift.buyers"
          [src]="
            '../../../../assets/images/avatars/Avatar_' +
            (b!.icon_profile! + 1) +
            '.png'
          "
        />
        </ng-container>
      </div>
      <div
        *ngIf="gift.status === 'BOUGHT' && canSeeWhat"
        class="status bought"
      >
        Comprato
        <img
          *ngFor="let b of gift.buyers"
          [src]="
            '../../../../assets/images/avatars/Avatar_' +
            (b!.icon_profile! + 1) +
            '.png'
          "
        />
      </div>
    </div>
  </div>
  <div class="price-container">
    <p class="price">{{ gift.price }} €</p>
  </div>
</div>
