<div class="search-input">
  <label class="custom-label" [ngClass]="getClassWidth()">
    <input
      type="text"
      class="custom-input"
      placeholder="Cerca una lista dei desideri..."
      [formControl]="searchControl"
    />
  </label>
  <button
    class="button-action-primary"
    *ngIf="buttonType?.includes('NEW-LIST')"
    (click)="newList()"
  >
    <img src="../../../assets/images/add-round.svg" />
  </button>
  <button
    class="button-action-primary"
    *ngIf="buttonType?.includes('SETTINGS-LIST') && canModify"
    (click)="settingList()"
  >
    <img src="../../../assets/images/settings.svg" />
  </button>
  <button
    class="button-action-primary"
    *ngIf="buttonType?.includes('NEW-ITEM') && canModify"
    (click)="newItem()"
  >
    <img src="../../../assets/images/add-round.svg" />
  </button>
  <button
    class="button-action-primary"
    *ngIf="buttonType?.includes('SETTINGS-ITEM') && canModify"
    (click)="settingItem()"
  >
    <img src="../../../assets/images/settings.svg" />
  </button>
</div>

<!-- *ngIf="canModify" -->
