:host {
  width: 100%;
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .custom-label {
    input {
      background-image: url("../../../assets/images/search.svg");
      background-repeat: no-repeat;
      background-position: 15px 20px;
      padding-left: 4em;
      margin: 0;
    }

    &.button-action-0 {
      width: 100%;
    }
    &.button-action-1 {
      width: calc(100% - 75px);
    }
    &.button-action-2 {
      width: calc(100% - 150px);
    }
  }
}
