<div
  class="giftlist-card"
  [ngClass]="['style-' + classIndex, checkIfComplete()]"
>
  <h4 *ngIf="complete">{{ giftlist.name }}</h4>
  <h4 *ngIf="!complete">
    {{
      giftlist.name!.length > 15
        ? (giftlist.name | slice: 0:15) + ".."
        : giftlist.name
    }}
  </h4>
  <div class="giftlist-card-body">
    <div class="left-side">
      <app-members
        [members]="giftlist.members!"
        [classIndex]="classIndex"
      ></app-members>
      <div class="gift">
        <div class="icon gift-icon"></div>
        <p>{{ giftlist.gifts?.length }} {{ "GLOBAL.GIFTS" | translate }}</p>
      </div>
      <div class="expiration">
        <div class="icon expiration-icon"></div>
        <p *ngIf="giftlist.expiration; else noExpiration">
          {{ getTime(giftlist.expiration.toString()) }}
        </p>
        <ng-template #noExpiration>
          <p>{{ "GIFTS.NO_EXPIRE" | translate }}</p>
        </ng-template>
        <p></p>
      </div>
    </div>
    <div class="right-side" [ngClass]="{ complete: complete }">
      <circle-progress
        *ngIf="canSeeWhat"
        [percent]="giftlist.gifts_percentage ?? 0"
        [radius]="40"
        [outerStrokeWidth]="4"
        [innerStrokeWidth]="4"
        [showInnerStroke]="true"
        [showZeroOuterStroke]="true"
        [outerStrokeColor]="getCircleProgressColor(classIndex)"
        [innerStrokeColor]="'#FBFBFB'"
        [space]="-4"
        [animation]="true"
        [animationDuration]="300"
        [showSubtitle]="false"
        [titleColor]="getCircleProgressColor(classIndex)"
        [unitsColor]="getCircleProgressColor(classIndex)"
        [titleFontWeight]="'700'"
      ></circle-progress>
      <div *ngIf="complete" class="d-flex">
        <img [src]="getShape(classIndex)" />
      </div>
    </div>
  </div>
</div>
