.button {
  padding: 0.4em 1.5em;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  font-size: 1.5em;
  font-weight: 300;
  color: $white;
}

.button-action {
  padding: 0.5em 0.8em;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  color: $white;
}

.button-primary {
  @extend .button;
  background-color: $purple;

  &:hover {
    background-color: $dark-purple;
  }
}

.button-secondary {
  @extend .button;
  background-color: $red;

  &:hover {
    background-color: $dark-red;
  }
}

.button-action-primary {
  @extend .button-action;
  background-color: $purple;

  &:hover {
    background-color: $dark-purple;
  }
}
