@import "../../../scss/abstract/variables";

.navbar {
  background-color: $black;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  padding: 0 1em;

  &.navbar-dashboard {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user-box {
    display: flex;
    align-items: center;

    .avatar {
      width: 60px;
      height: 60px;
      border-radius: $border-radius;
      background-color: $white;

      img {
        width: 100%;
      }
    }
  }

  .info-box {
    color: $white;
    margin-left: 0.5em;

    h5,
    p {
      margin: 0;
    }
  }

  &.navbar-minimal {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .avatar {
      width: 40px !important;
      height: 40px !important;
      border-radius: 15px !important;
    }

    p {
      color: $white;
      font-weight: 700;
    }

    .back {
      cursor: pointer;
    }
  }
}
