<div *ngIf="type === 'DASHBOARD'" class="navbar navbar-dashboard">
  <div class="user-box">
    <div class="avatar">
      <img
        [src]="
          '../../../assets/images/avatars/Avatar_' +
          (user.icon_profile! + 1) +
          '.png'
        "
      />
    </div>
    <div class="info-box">
      <p class="big-text">Ciao {{ user.username }}</p>
      <p class="secondary-text">2 liste in sospeso</p>
    </div>
  </div>
</div>

<div *ngIf="type === 'MINIMAL'" class="navbar navbar-minimal">
  <img
    class="back"
    src="../../../assets/images/chevron_left.svg"
    (click)="back()"
  />
  <p>
    {{ title }}
  </p>
  <div class="user-box">
    <div class="avatar">
      <img
        [src]="
          '../../../assets/images/avatars/Avatar_' +
          (user.icon_profile! + 1) +
          '.png'
        "
      />
    </div>
  </div>
</div>
