@import "../../../scss/abstract/variables";

.navbar {
  background-color: $black;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  padding: 0 1em;

  &.navbar-dashboard {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user-box {
    display: flex;
    align-items: center;

    .avatar {
      width: 60px;
      height: 60px;
      border-radius: $border-radius;
      background-color: $white;

      img {
        width: 100%;
      }
    }
  }

  .info-box {
    color: $white;
    margin-left: 0.5em;

    h5,
    p {
      margin: 0;
    }
  }

  &.navbar-minimal {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .avatar {
      width: 40px !important;
      height: 40px !important;
      border-radius: 15px !important;
    }

    p {
      color: $white;
      font-weight: 700;
    }

    .back {
      cursor: pointer;
    }
  }

  &.navbar-detail-list {
    height: 180px;
    justify-content: start;

    .detail-section-title {
      color: #999999;
      font-weight: 200;
    }
    .detail-section {
      font-weight: 200;
      margin: 0;
    }

    .calendar {
      width: 32px;
      height: 32px;
      margin-right: .5em;
    }
  }

  &.navbar-detail-item {
    height: 160px;
    justify-content: start;
    padding-top: .5em;

    .detail-gift-section {
      img {
        width: 120px;
        height: 120px;
      }

      p {
        font-size: 2em;
        margin: 0;
        font-weight: 500;
      }
    }
  }
}
