<div *ngIf="type === 'DASHBOARD'" class="navbar navbar-dashboard">
  <div class="user-box">
    <div class="avatar">
      <img
        [src]="
          '../../../assets/images/avatars/Avatar_' +
          (user.icon_profile! + 1) +
          '.png'
        "
      />
    </div>
    <div class="info-box">
      <p class="big-text">{{ "NAVBAR.HI" | translate }} {{ user.username }}</p>
      <p class="secondary-text">
        {{ "NAVBAR.WELCOME" | translate }}
      </p>
    </div>
  </div>
</div>

<div *ngIf="type === 'MINIMAL'" class="navbar navbar-minimal">
  <img
    class="back"
    src="../../../assets/images/chevron_left.svg"
    (click)="back()"
  />
  <p>
    {{ title }}
  </p>
  <div class="user-box">
    <div class="avatar">
      <img
        [src]="
          '../../../assets/images/avatars/Avatar_' +
          (user.icon_profile! + 1) +
          '.png'
        "
      />
    </div>
  </div>
</div>

<div
  *ngIf="type === 'DETAIL-LIST'"
  class="navbar navbar-minimal navbar-detail-list flex-column"
>
  <div class="d-flex justify-content-between w100 mb-4">
    <img
      class="back"
      src="../../../assets/images/chevron_left.svg"
      (click)="back()"
    />
    <p>
      {{ title }}
    </p>
    <div class="user-box">
      <div class="avatar">
        <img
          [src]="
            '../../../assets/images/avatars/Avatar_' +
            (user.icon_profile! + 1) +
            '.png'
          "
        />
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between w100">
    <div class="d-flex flex-column align-items-center">
      <p class="detail-section-title">{{ "GLOBAL.MEMBERS" | translate }}</p>
      <app-members
        [members]="members!"
        [styleNavbar]="true"
        (click)="activeMembers()"
      ></app-members>
    </div>
    <div class="d-flex flex-column align-items-center">
      <p class="detail-section-title">{{ "GLOBAL.EXPIRE" | translate }}</p>
      <div class="d-flex align-items-center">
        <img class="calendar" src="../../../assets/images/calendar.svg" />
        <p class="detail-section">
          {{ expiration ? getTime(expiration.toString()) : "Mai" }}
        </p>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center">
      <p class="detail-section-title">{{ "GLOBAL.LEFT" | translate }}</p>
      <p class="detail-section">{{ giftLefts }} regali</p>
    </div>
  </div>
</div>

<div
  *ngIf="type === 'DETAIL-ITEM'"
  class="navbar navbar-minimal navbar-detail-item flex-column"
>
  <div class="d-flex justify-content-between w100 align-items-center">
    <img
      class="back"
      src="../../../assets/images/chevron_left.svg"
      (click)="back()"
    />
    <p>
      {{ title }}
    </p>
    <div class="user-box">
      <div class="avatar">
        <img
          [src]="
            '../../../assets/images/avatars/Avatar_' +
            (user.icon_profile! + 1) +
            '.png'
          "
        />
      </div>
    </div>
  </div>
  <div class="d-flex w100 align-items-center detail-gift-section">
    <img [src]="'../../../assets/images/category/' + giftCategory + '.png'" />
    <p>
      {{ giftName }}
    </p>
  </div>
</div>
