<ng-progress [thick]="true" [color]="'#F4055B'"></ng-progress>
<div class="login-box">
  <img id="logo" src="../../../assets/images/logo_dark.png" />
  <div class="login-actions" [formGroup]="forgotGroup">
    <p>
      {{ "AUTH.FORGOT_PASSWORD_MESSAGE" | translate }}
    </p>
    <label class="custom-label">
      {{ "AUTH.EMAIL" | translate }}
      <input
        type="email"
        class="custom-input"
        placeholder="{{ 'AUTH.PLACEHOLDER.EMAIL' | translate }}"
        formControlName="email"
      />
      <app-control-errors controlName="email"></app-control-errors>
    </label>
    <div class="button-box">
      <button class="button button-primary mb-4" (click)="recoveryPassword()">
        {{ "AUTH.RECOVERY_PASSWORD" | translate }}
      </button>
    </div>
  </div>
</div>
