$white: #FBFBFB;
$pure-white: #FFF;
$black: #12151F;
$red: #F4055B;
$light-red: #FFA3C4;
$dark-red: #a70641;
$green: #05F4B7;
$light-green: #B0FDE9;
$dark-green: #0CA07B;
$yellow: #F4BF05;
$light-yellow: #FFE589;
$dark-yellow: #D1A300;
$purple: #371BB1;
$light-purple: #BAAAFF;
$dark-purple: #2a1488;
$grey: #999999;
$light-grey: #EFEFEF;
$grey2: #CDCDCD;
$grey3: #E0E0E0;

$border-radius: 20px;