<app-navbar
  [type]="'DETAIL-LIST'"
  [title]="giftlist?.name!"
  [members]="giftlist?.members"
  [expiration]="giftlist?.expiration"
  [giftLefts]="giftsLeft"
  (onOpenMembers)="openMembers()"
></app-navbar>
<div class="d-flex align-items-center container-search">
  <app-search-input
    [buttonType]="['NEW-ITEM', 'SETTINGS-LIST']"
    [canModify]="canModify"
    (onSettingList)="editGiftlist()"
    (onNewItem)="createGift()"
  ></app-search-input>
</div>
<app-navigator [title]="'Desideri'"></app-navigator>
<div>
  <app-gift-card
    *ngFor="let gift of giftlist?.gifts"
    [gift]="gift"
    [canSeeWhat]="canSeeWhat"
    [canSeeWho]="canSeeWho"
    [giftlistId]="giftlist?.id!"
  ></app-gift-card>
</div>
