.container-search {
  padding: 0 1em;
  app-search-input {
    flex: 1;
  }

  .button-action-primary {
    margin-top: 0.5em;
    margin-left: 0.5em;

    img {
      width: 32px;
      height: 32px;
    }
  }

  a {
    color: #000;
  }
}
