<ng-progress [thick]="true" [color]="'#F4055B'"></ng-progress>
<div class="login-box">
  <img id="logo" src="../../../assets/images/logo_dark.png" />

  <div class="login-actions" [formGroup]="recoveryForm" *ngIf="isValidToken">
    <label class="custom-label">
      {{ "AUTH.PASSWORD" | translate }}
      <input
        type="password"
        class="custom-input"
        placeholder="Digita la tua password..."
        formControlName="password"
      />
      <app-control-errors controlName="password"></app-control-errors>
    </label>
    <label class="custom-label">
      {{ "AUTH.PASSWORD_CONFIRM" | translate }}
      <input
        type="password"
        class="custom-input"
        placeholder="Digita il tuo username..."
        formControlName="confirmPassword"
      />
      <app-control-errors controlName="confirmPassword"></app-control-errors>
    </label>
    <div class="button-box">
      <button class="button button-primary mb-4" (click)="recoveryPassword()">
        {{ "AUTH.LOGIN" | translate }}
      </button>
    </div>
  </div>

  <div *ngIf="!isValidToken">
    Questo link non è valido, richiedi un nuovo link per il recupero password
  </div>
</div>
