<app-navbar [type]="'DASHBOARD'"></app-navbar>
<app-search-input></app-search-input>
<app-navigator
  [title]="'Liste desideri'"
  [image]="'../../assets/images/arrow_right.svg'"
  [routerLink]="['/', 'giftlist']"
></app-navigator>
<ng-container *ngIf="giftlists$ | async; let giftlistList; else: loading">
  <div class="giftlist-container">
    <ng-container
      *ngFor="
        let giftlist of giftlistList;
        trackBy: trackByFnGiftlist;
        let i = index
      "
    >
      <app-giftlist-card
        [giftlist]="giftlist"
        [classIndex]="i"
      ></app-giftlist-card>
    </ng-container>
  </div>
</ng-container>
<app-navigator
  [title]="'Ultime attività'"
  [image]="'../../assets/images/arrow_right.svg'"
  [routerLink]="['/', 'activity']"
></app-navigator>
<ng-container *ngIf="activities$ | async; let activityList; else: loading">
  <div class="activity-container">
    <ng-container
      *ngFor="
        let act of activityList;
        trackBy: trackByFnActivities;
        let i = index
      "
    >
      <app-activity-card [activity]="act" [classIndex]="i"></app-activity-card>
    </ng-container>
  </div>
</ng-container>
<ng-template #loading>Loading...</ng-template>
